/* =========================
    Loader Styles
   ========================= */
:root {
  --x0: 0;
  --x1: 100%;
  --y0: -50px;
  --y1: 50%;
  --y2: -25px;
  --y3: 8px;
  --y4: 16px;
}

main {
  opacity: 0;
  animation: fadeIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.8s forwards;
}

.loader-container {
  animation: hideLoader 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.8s forwards;
}

/* Hide the loader */
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    z-index: 0;
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}

/* Fade in the main */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =========================
    Loader Bar Background
   ========================= */
@keyframes loader-bar-background {
  0%,
  100% {
    background-position: var(--x0) var(--y0), var(--x1) var(--y0);
  }
  15% {
    background-position: var(--x0) var(--y1), var(--x1) var(--y2);
  }
  30% {
    background-position: var(--x0) var(--x1), var(--x1) var(--y1);
  }
  40% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1);
  }
  50% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y3));
  }
  60% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y4)), var(--x1) var(--x0);
  }
  70% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y4)),
      var(--x1) calc(var(--x1) - var(--y3));
  }
  80% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y4)),
      var(--x1) calc(var(--x1) - var(--y4));
  }
  90% {
    background-position: var(--x0) var(--y1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y3)),
      var(--x1) calc(var(--x1) - var(--y4));
  }
}
/* =========================
    Menu Section Animation
   ========================= */
.menu__section {
  animation: slideUpFadeIn 0.5s ease-out both;
  animation-delay: 1s;
}

/* =========================
    Menu Item Animation (Refactored)
   ========================= */
.menu__section .menu__item {
  opacity: 0;
  transform: translateY(24px);
  animation: slideUpFadeIn 0.5s ease-out both;
}

/* Staggered animation delay for each item */
.menu__section .menu__item:nth-child(1) {
  animation-delay: 1.2s;
}
.menu__section .menu__item:nth-child(2) {
  animation-delay: 1.35s;
}
.menu__section .menu__item:nth-child(3) {
  animation-delay: 1.5s;
}
.menu__section .menu__item:nth-child(4) {
  animation-delay: 1.65s;
}
.menu__section .menu__item:nth-child(5) {
  animation-delay: 1.8s;
}

@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(12px);
  }
  70% {
    opacity: 0.7;
    transform: translateY(7.2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* =========================
    Menu Item Hover
   ========================= */
.menu__item-check {
  transform: translateX(100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item-check i {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__item:hover .menu__item-check {
  width: 60px;
  transform: translateX(0);
}

.menu__item:hover .menu__item-check i {
  transform: rotate(360deg);
}
