/* =========================
    Loader Section - Hide Loader
   ========================= */
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

/* =========================
    Loader Bar Background
   ========================= */
@keyframes cubeLoaderBackground {
  0%,
  100% {
    background-position: var(--x0) var(--y0), var(--x1) var(--y0);
  }
  15% {
    background-position: var(--x0) var(--y1), var(--x1) var(--y2);
  }
  30% {
    background-position: var(--x0) var(--x1), var(--x1) var(--y1);
  }
  40% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1);
  }
  50% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y3));
  }
  60% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y4)), var(--x1) var(--x0);
  }
  70% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y4)), var(--x1) calc(var(--x1) - var(--y3));
  }
  80% {
    background-position: var(--x0) var(--x1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y4)), var(--x1) calc(var(--x1) - var(--y4));
  }
  90% {
    background-position: var(--x0) var(--y1), var(--x1) var(--x1),
      var(--x0) calc(var(--x1) - var(--y3)), var(--x1) calc(var(--x1) - var(--y4));
  }
}

/* =========================
    Main Section - Fade In
   ========================= */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =========================
    Menu Section - Menu Items Animation
   ========================= */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }
  30% {
    opacity: 0.3;
    transform: translateY(12px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(6px);
  }
  70% {
    opacity: 0.7;
    transform: translateY(3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
